body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-x: hidden; 
    display:flex;
}

/*.sidebar {
    position: fixed; /* Barra lateral fixa 
    width: 186px;
    height: 100vh;
    background: #1AB5D5;
    color: #fff;
    padding-top: 20px;
} */


.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}


.main-content {
    margin-left: 200px; 
    padding: 20px;
    width: calc(100% - 200px); 
    overflow-y: auto; 
    max-height: 100vh; 
    box-sizing: border-box; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.btn-novo-item {
    width: 145px;
    height: 38px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-novo-item:hover {
    background-color: #0056b3;
}

.content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    max-height: calc(100vh - 120px); 
}

.vehicles-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vehicles-table th, .vehicles-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.vehicles-table th {
    background-color: #1AB5D5;
    color: white;
}

.vehicles-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
