/* Estilos da Tabela de Vendas para a página de rendimento */

.sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sales-table th, .sales-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.sales-table th {
    background-color: #1AB5D5;
    color: white;
}

.sales-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.vehicle-info {
    display: flex;
    align-items: center;
}

.vehicle-image {
    width: 100px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
